@import '../variables.css';

.MemberNode-Buffer {

  padding: 25px;
  /*color: #E5434E;*/
  width: 200px;
  margin: 0 auto;
  height: 200px;
  position: absolute;
  display: inline-block;
  z-index: 10;

}
.MemberNode {
  background: gray;
  width: 200px;
  margin: 0 auto;
  height: 80px;
  position: relative;
  display: inline-block;
}
.MemberNode-Text {
  color: #3381AA;
  background: #F3BE23;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
}
